@charset "UTF-8";
/* main styling */

/*====================================
  main styling for index.html and main styling for content
=====================================*/

* {
    box-sizing: border-box;
}/* (*) */

body{
  height:100%;
	width:100%;
	margin:0;
	padding:0;
	background-image: url("../img/exported/1.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position:center, center;

	font-family: verdana, sans-serif;
	font-size:1em;
	color:#fff;
	font-size: 0.9em;
	line-height: 1.5;
  display: block;
}/*body*/

.content{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
  display: block;
}/*.content*/

.wrap{
	height:100%;
	width:100%;
  padding: 0;
  left:0;
  top:0;
	position:absolute;
	overflow:hidden;
	color:#FFF;
	text-align:center;
  background-attachment: fixed;
  position: fixed;
  overflow: scroll;
}/*.wrap */

.nav{
	  display:flex;
	  flex-direction:row;
	  justify-content: space-around;
	  height:50px;
	  z-index:200;
    width: auto;
	}



	.tabs {
	  height: 50px;
	  background:#000;
		color: #fff;
	  text-align: center;
	  line-height: 50px;
	  font-weight: 600;
	  width:50%;
	  z-index:200;
	}
	.tabs label:hover {
		background: #fff;
		color: #000;
		letter-spacing: 1px;
	}

  .tabs label:current {
		background: #fff;
		color: #000;
		letter-spacing: 1px;
    background-color: rgba(255, 255, 255, 0.5);
	}


  /*====================================
    css blending mode with float content page 3
  =====================================*/

  .blend{
    min-height: 20%;
    max-height: 30%;
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    left:50%;
    top:0;
    display: block;
    padding-top: 5%;
    margin: 0 auto;
  }/*.blend content page 2*/

  #instafeed{
    height: auto;
    max-width: 100%;
    max-height: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    top:0;
    z-index: 800;
    margin: 0 auto;
  }/*.instaf*/

  a{
    padding: 0;
    float: top;
    z-index: 800;
    top: 50%;
    display: flex;
    height: auto;
    margin: 0 auto;

    align-content: flex-start;
    align-items: center;
  }
img{
  padding: 0;
  z-index: 800;
  margin: 0 auto;
  max-width: 75%;
  min-width: 75%;
  display: flex;
}
